asgiref
certifi
charset-normalizer
crispy-bootstrap5
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-humanize
djangorestframework
humanize
idna
Markdown
MouseInfo
pillow
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
requests
sqlparse
sslcommerz-lib
tzdata
urllib3
whitenoise
