<div>
    <p>Dear {{ customer_name }}!</p>
    <p>
        Your recent order (Order # [{{ order.id }}]) has been completed. You will receive your product in 3 business days.
    </p>
    <h4>
        Order Details:
    </h4>
    <ul>
        <li>Items Ordered: {{ order.flower.title }}</li>
        <li>Status: {{ order.status }}</li>
        <li>Quantity: {{ order.quantity }}</li>
        <li>Total Price: {{ order.total_price }}</li>
        <li>Estimated Delivery: Within 3 business days</li>
    </ul>
    <p>
        Thank you for choosing Orchid Oasis. We look forward to fulfilling your order and serving you again in
        the future.
    </p>
    <p>
        Sincerely,
    </p>
    <h4>
        The Orchid Oasis Team
    </h4>
</div>